//阴影
.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}
//text
.text_center {
  text-align: center;
}
//flex
.flex {
  display: flex;
}
.flex1 {
  flex: 1;
}
.align_center {
  align-items: center;
}
//margin
.mrt15 {
  margin-top: 15px;
}
.mrl20 {
  margin-left: 20px;
}
.mrr20 {
  margin-right: 20px;
}
.mrb15 {
  margin-bottom: 15px;
}
// overflow
.ovh {
  overflow: hidden;
}
// card
.card {
  //min-height: 200px;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)

}
